@{
    ViewData["Title"] = "Home Page";
   
}



        <h1>Лабораторная работа 1</h1>

        <h3>Список</h3>
        <ol>
            <li>А, элемент 1 списка</li>
            <li>В, элемент 2 списка</li>
        </ol>

        <form>
            <h3>Форма</h3>

            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" name="checkbox1" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Чек-бокс 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="checkbox2" type="checkbox" id="gridCheck2">
                        <label class="form-check-label" for="gridCheck2">
                            Чек-бокс 2
                        </label>
                    </div>
                </div>
            </div>

            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0"></legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Радио-1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Радио-2
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                        <label class="form-check-label" for="gridRadios3">
                            Радио-3
                        </label>
                    </div>
                </div>
            </fieldset>


            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Логин</label>
                <div class="col-sm-10">
                    <input type="email" name="login" class="form-control" id="inputEmail3"
                           placeholder="Введите имя">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="inputPassword3"
                           placeholder="Введите пароль">
                </div>
            </div>


    <h2>@ViewData["Text"]</h2>


    <ol type="A">
        @for (int i = 1; i < 5; i++)
        {
            <li>элемент @i списка</li>
        }
    </ol>

    <h2>@ViewData["Textt"]</h2>

    <select asp-items="@ViewData["Lst"] as SelectList"></select>
   
    
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
 